.App{
    padding: 0 15px;
}

.form{
    padding: 15px 0;
}

.field_in_row{
    display: inline-block;
    margin-right: 10px;
}

.field_in_row label{
    display: block;
}

.error{
    margin-top: 15px;
    color: #c00;
}

table{
    border-collapse: collapse;
    margin: 15px 0;
}

table thead td{
    background: #ccc;
}

table tbody tr:nth-child(even){
    background: #e8e8e8;
}

table td{
    border: 1px solid;
    height: 40px;
    padding: 5px 10px;
}

.discountBlock input{
    width: 20px;
}